<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="31"
    android:versionName="3.6.0">

    <uses-feature android:name="android.hardware.touchscreen" />

    <!-- Permissions needed for legacy collection import/export -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.spencerpages.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name="com.coincollection.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.coincollection.CollectionPage"
            android:label="Collection Page"
            android:windowSoftInputMode="adjustPan"
            android:exported="false">
            <!-- Regarding android:windowSoftInputMode="adjustPan"

                 Since we have editText's inside the listview in the advance case,
                 we need to have the keyboard not resize the page.  Otherwise, the
                 list view will redraw, potentially recycling some of the cells, and
                 our edittext will likely lose focus
            -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.coincollection.CoinPageCreator"
            android:label="Collection Page Creator"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
